
/*************************
  		GENERAL
*************************/

body {
	background-image: url("../imgs/greyzz_@2X.png") !important;
}

.form_label {
	font-family: "Raleway", serif;
	font-weight: 100;
	margin: 30px 0;
	border: 1px solid black;
	padding: 15px;
	text-align: center;
	background-color: white;
}

/*************************
		 NAV
*************************/


.brand-logo {
	font-weight: 100;
}

#logo {
	color: #ffd740;
}

#list_view {
	display: inline;
	vertical-align: top;
	margin-right: 15px;
}

.nav-wrapper {
	background-color: #50514F;
	font-family: "Raleway", serif;
	font-weight: 100;
	letter-spacing: 3px;
}

/*************************
	   Preferences
*************************/

#margin_bottom {
	margin-bottom: 0;
}

/*************************
	    Product
*************************/

#card_margin_top {
	margin-top: 30px;
}

.card-content img {
	width: 100% !important;
}

#collection_top {
	margin-top: 60px;
}

.gift {
	margin: 15px 0 5px 0 !important;
	width: 100%
}

.title {
	text-transform: none;
}

.price {
	font-weight: 400 !important;
	background-color: #ffd740;
	padding: 5px;
	border-radius: 3px;
}

.padding {
	padding-top: 10px;
}

/*************************
	  Table - CART
*************************/

table {
	background-color: white;
	padding: 15px;
}

table td, th {
	padding-left: 40px
}

.collection-item {
	padding-left: 40px !important;
}

#total {
	width: 40px;
	padding-right: 180px;
}

.remove {
	margin-left: 20px;
}

/*************************
      Form inputs
*************************/

/* label color */
.input-field label {
 color: #000;
}
/* label focus color */
.input-field input[type=text]:focus + label {
 color: #000;
}

/* label focus color */
.input-field input[type=email]:focus + label {
 color: #000;
}

/* label focus color */
.input-field input[type=password]:focus + label {
 color: #000;
}
/* label underline focus color */
.input-field input[type=text]:focus {
 border-bottom: 1px solid #000;
 box-shadow: 0 1px 0 0 #000;
}
/* label underline focus color */
.input-field input[type=email]:focus {
 border-bottom: 1px solid #000;
 box-shadow: 0 1px 0 0 #000;
}
/* label underline focus color */
.input-field input[type=password]:focus {
 border-bottom: 1px solid #000;
 box-shadow: 0 1px 0 0 #000;
}
/* valid color */
.input-field input[type=text].valid {
 border-bottom: 1px solid #000;
 box-shadow: 0 1px 0 0 #000;
}
/* invalid color */
.input-field input[type=text].invalid {
 border-bottom: 1px solid #000;
 box-shadow: 0 1px 0 0 #000;
}
/* icon prefix focus color */
.input-field .prefix.active {
 color: #000;
}


/*************************
	  Table - CART
*************************/

.buy {
	width: 100%;
	margin-top: 10px;
}

.padding_bottom {
	padding-bottom: 5 !important;
}


table {
	background-color: white;
	padding: 15px;
}

table td, th {
	padding-left: 40px
}

.collection-item {
	padding-left: 40px !important;
}

#total {
	width: 40px;
	padding-right: 180px;
}

.remove {
	margin-left: 20px;
}






/*************************
	   end of file
*************************/

